@use '../../style/variables.scss' as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  color: $font-color;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: $font-hover-color;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $background-color;
  width: 50%;
  padding: 2rem;

  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: $font-color;
    color: $background-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

.formGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;

  label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid $font-color;
    border-radius: 5px;
    margin-bottom: 1rem;
  }

  textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid $font-color;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
}