$background-color: #2d0a0a;

$font-color: #f5e6e8;
$font-hover-color: #e28989;

$button-color: #800000;
$button-hover-color: #660000;

$border-input: 1px solid #800000;
$border-input-focus: 1px solid #660000;