@use '../../style/variables.scss' as *;

.experience {
  color: $font-color;
  padding: 2rem;
  width: 100%;
}

.tittle {
  color: $font-hover-color;
  line-height: 1.5;
  text-align: center;
  margin: 2rem 0;

  h2 {
    font-size: 2rem;
  }
}

.experienceItem:nth-child(2) {
  flex-direction: row-reverse;
}

.experienceItem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70vh;

  img {
    height: 50vh;
    width: 25vw;
    border-radius: 50%;
    object-fit: cover;
    border: solid 5px $font-hover-color;
  }
}

.experienceInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  background-color: $background-color;
  padding: 1rem;
  width: 65%;
  border-radius: 20px;

  h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  span {
    font-size: 1.2rem;
    margin: 1rem 0;
    color: $font-hover-color;
  }
}

@media (max-width: 768px) {
  .experienceItem {
    flex-direction: column;
    height: 100%;

    img {
      height: 30vh;
      width: 50vw;
      margin: 2rem 0;
    }
  }

  .experienceItem:nth-child(2) {
    flex-direction: column;
  }

  .experienceInfo {
    width: 100%;
  }
}